*{
    margin: 0px;
    padding: 0px;
}
.checkoutWrapper{
    width: 95vw;
    height: 95vh;
    background: url('https://i.gifer.com/9yCP.gif');
    background-position-x: left;
    background-position-y: center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: 43%;
}
.checkoutForm{
    float: right;
    width: 50vw;
    margin-top: 8%;
}
.formbackground{
    margin-top: 2%;
}
