*{
    margin: 0px;
    padding: 0px;
}
.checkoutWrapper{ 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.checkoutForm{
    width: 40rem;
    margin-top: 10rem;
}
.formbackground{
    margin-top: 2%;
}
